#applicationPrototype {
    background-color: white;
    border-bottom-right-radius: 20px;
    max-height: 450px;
    width: 100%;
    margin: auto;
    font-family: 'Rokkitt', serif;
}
.left-app {
    float: left;
    color: rgba(231, 115, 47, 1);
    
}
.right-app {
    float: right;
    color: rgb(161,196,252);
}
.prototypebox {
    padding: 10px;
    /* margin: auto; */
    
}
.prototypebox-data {
    clear: both;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    padding: 5px;
}
.prototype-levels p {
    color: green;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 20px;
    padding: 2px;

}
.fas {
    color: green;
    font-size: 30px;
    padding: 10px 15px 2px 15px;
}